<table class="table">
    <thead>
        <th> Brand </th>
    </thead>
    <div class="row">
        <div class="col-md-9">
            <select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="selectedBrand">
                <option selected value="" [ngValue]=""> Select brand... </option>
                <option *ngFor="let brand of brands" value="brand.id" [ngValue]="brand"> {{ brand.name }} </option>
            </select>
        </div>
        <div class="col-md-3">
            <button *ngIf="selectedBrand" type="button" class="btn btn-outline-primary" (click)="carsListedSuccess(selectedBrand)"
            routerLink="/cars/brand/{{selectedBrand.id}}"> Filter </button>
            
            <button *ngIf="!selectedBrand" type="button" class="btn btn-outline-primary" 
            routerLink="/cars"> Filter </button>
        </div>
    </div>
</table>