<div *ngIf="dataLoaded==false" class="spinner-border text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

<table class="table table-hover">
    <thead *ngIf="dataLoaded==true">
        <tr>
            <th scope="col"> CarId </th>
            <th scope="col"> Color Name</th>
            <th scope="col"> Brand Name</th>
            <th scope="col"> Daily Price</th>
            <th scope="col"> Model Year </th>
            <th scope="col"> </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let carDetail of carDetails">
            <th scope="row"> {{ carDetail.carId }} </th>
            <td> {{ carDetail.colorName }} </td>
            <td> {{ carDetail.brandName }} </td>
            <td> ${{ carDetail.dailyPrice }} </td>
            <td> {{ carDetail.modelYear }}</td>
            <td>
                <button type="button" class="btn btn-outline-secondary btn-sm"
                    routerLink="/cardetail/{{carDetail.carId}}"> Go To Details </button>
            </td>
        </tr>
    </tbody>
</table>